<div class='content'>
<p>For navigation and functions: click on the breadcrumb, right click on an item in the tree for the context menu, drag and drop.</p>
	<h1>Items</h1>
	<%= link_to 'Create first item', new_item_path if @no_item_records %>
	<div id="finder">
	</div>
	<div class="breadCrumbHolder module">
		<div id="item_path" class="breadCrumb module">
			<%= render partial: 'item_path'%>
		</div>
	</div>
</div>
	