.item-select-text {
	border-radius: $corner 0px 0px $corner;
	border-right-style: none;
}
.item-select-text:focus {
	border-radius: $corner 0px 0px $corner;
	border-right-style: none;
}
.item-select {
	display: none;
	background-color: white;
	border:solid 1px $input-border;
	width: 250px;
	height: 200px;
	border-radius: 0px $corner $corner $corner;
	position: absolute;
	overflow: scroll;
}